<h3>Running Survey</h3>
{%if survey_l %}
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th scope="row" style="width:30px">#</th>
                <th>Course</th>
                <th>Semester</th>
                <th>Actions</th>
            </tr>
        </thead>
        {%for s in survey_l%}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
                <td>
                    {% if s[6] == 0 and current_user.is_admin() %}
                        <a href="{{url_for("view_survey",survey_id= s[0])}}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{{url_for("post_survey",survey_id= s[0])}}" class="btn btn-sm btn-success">Post</a>
                    {% endif%}
                    {% if s[6] == 1 and current_user.is_staff() %}
                        <a href="{{url_for("view_survey",survey_id= s[0])}}" class="btn btn-sm btn-primary">Review</a>
                    {% endif%}
                    {% if s[6] == 2 and current_user.is_student() %}
                        <a href="{{url_for("view_survey",survey_id= s[0])}}" class="btn btn-sm btn-primary">Filling</a>
                    {% endif%}

                    {% if s[6] == 3 or (s[6] ==2 and current_user.is_admin())%}
                        <a href="{{url_for("view_survey",survey_id= s[0])}}" class="btn btn-sm btn-success">Result</a>
                    {% endif%}
                    {% if current_user.is_admin() %}
                        <a href="{{url_for("delete_survey",survey_id= s[0])}}" class="btn btn-sm btn-outline-danger">Delete</a>
                    {%endif%}

                </td>

            </tr>
        {%endfor%}
    </table>
{%else%}
    <p>Current have not running survey</p>
{%endif%}
