.signin{
    margin: 0 auto;
    max-width: 300px;
    margin-top: 3em;
}
.nav-clear{
    height: 56px;
}
.nav-clear-footer{
    height: 84px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:56px;
    line-height: 56px;
    display: block;

}
