{%extends "base.html"%}
{% block title %}Please add a question{% endblock %}
{% block header%}<h2>Add a Question to Site</h2>{%endblock%}
{%block body%}
    <form class="" action="{{request}}" method="POST">
        <div class="form-group">
            <label>Question:</label>
            <input type="text" name="question" value="{{question}}" class="form-control" placeholder="Question">
        </div>
        <div class="form-group">
            <label>Answers:</label>
            <input type="text" name="answers" value="{{answers}}" class="form-control" placeholder="Answer1, Answer2, ..">
            <small class="form-text text-muted">
                The answer can be infinate many, but at lease two. Syntax is: Answer1,Answer2,Answer3,..,AnswerN
            </small>
        </div>
        <button type="submit" class="btn btn-primary" name="">Add a Question</button>
    </form>
{% endblock %}
