<!DOCTYPE html>
<html>
    <head>
        <title>Ongoing Courses</title>
    </head>

    <body>
    <h1>Select an ongoing Course to Start a Survey</h1>
        {% if course_list %}
            <Form method="POST" request="{{request}}">
                {% for course in course_list %}
                    <input type="radio" name="co" value="{{course}}" >{{course}}<br>
                {% endfor %}
                <input type="submit" value="Submit">
            </From>
        {%else%}
            <p>Currently all ongoing course have been created a survey, or currently there isn't an ongoing course.</p>
        {%endif%}
</body>
</html>
