{%extends "base.html"%}
{%block title%}Manage Questions{%endblock%}
{%block header%}<h2>Delete Question</h2>{%endblock%}
{%block body%}
    {% if q_list %}
        <form class="" action="{{request}}" method="post">
            <!-- the promt of the line, the idea is from bootstrap table-->
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>Question</th>
                        <th>Answers</th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in q_list %}
                    <!-- show up the information for each questoin -->
                        <tr>
                            <td scope="row">
                                <input type="checkbox" name="qid" value="{{q[0]}}" class="float-left" >
                            </td>
                            <td>
                                {{q[1]}}
                            </td>
                            <td>
                                <!-- print all the answers -->
                                {% for ans in q[2:] %}
                                    {{ans}}
                                {% endfor %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-outline-success" name="button">Delete Questions</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h2>Error:</h2>
            <p>This system currently donesn't have any question. <a href="{{url_for("add_question")}}" class="alert-link">Go to add some question.</a></p>
        </div>
    {% endif %}
{%endblock%}
