{%extends "base.html"%}
{%block title%}Manage Questions{%endblock%}
{%block body%}
    {% if q_list %}
        <form class="" action="{{request}}" method="post">
            {% for q in q_list %}
            <!-- show up the information for each questoin -->
                <div class="">
                    <input type="checkbox" name="qid" value="{{q[0]}}">
                    <div class="">
                        {{q[1]}} <br>
                        <!-- print all the answers -->
                        {% for ans in q[2:] %}
                            {{ans}},
                        {% endfor %}
                        <br>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" name="button">Delete Questions</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h2>Error:</h2>
            <p>This system currently donesn't have any question. <a href="{{url_for("add_question")}}" class="alert-link">Go to add some question.</a></p>
        </div>
    {% endif %}
{%endblock%}
