{%extends "base.html"%}
{%block title%}{{course_name}} Survey Preview{%endblock%}
{%block body %}
    {%if quest_list %}

        <h1>{{course_name}} Web Survey <span class="badge badge-success">preview</span></h1>

        {%for quest in quest_list %}
            <p>{{quest[0]}}. {{quest[1]}}  </p>

            {% set ans_count =0 %}
            {% for ans in quest[2:] %}
            <div class="form-check">
                <label class="form-check-label disabled">
                    <input type="radio" name="{{quest[0]}}" class="form-check-input" value="{{ans_count}}" disabled/>{{ans}}
                    {% set ans_count= ans_count +1 %}
                </label>
            </div>
            {%endfor%}
        {%endfor%}
        <br>
        url for this Survey:
        <a href="{{url_for("student",_external=True, name = course_name)}}">
            {{url_for("student",_external=True, name = course_name)}}
        </a>
    {%else%}
        {% block msg%}

            <!-- very special error -->
            <div class="alert alert-danger " role="alert">
                <h1> Unknown Error:</h1>
                <p><b>Reason:</b> No question added for a created survey.</p>
            </div>
        {%endblock%}
    {% endif %}
{%endblock%}
