{%extends "base.html"%}
{%block title %} Edit: {{course_name}} {{course_year}} Survey{%endblock%}
{%block header%}
    <h1>Edit:{{course_name}} Survey</h1>
    <h2> Congrats for adding questions for your survey (preview) </h2>
{%endblock%}
{%block body%}

    {%if genlist :%}
        <Form method="POST">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>General Question</th>
                        <th>
                            Answers
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                     
                    {% for len in range(Qnum1) :%}
                    
                        <tr>
                            <td scope="row">
                                 {{len+1}}
                            </td>
                            <td>
                                {{genlist[len][1]}}
                            </td>

                           {% if genlist[len][2] == "MCQ" : %}
                            <td>
                                <div class="row">
                             
                                    {% for answer in genlist[len][3:] :%}
                                        <div class="col">
                                            {{answer}}
                                        </div>
                                    {% endfor %}
                
                                </div>
                            </td>
<td>(MCQ)</td>
                           {%endif%}
                           {% if genlist[len][2] == "TEXT" : %}
<td>Student response</td>
                              <td> (TEXT-BASED ANSWER) </td>   
                           {%endif%}
               

                   
                    {%endfor%}
                </tbody>
            

      {%if optlist :%}
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>Optional Question</th>
                        <th>
                            Answers
                        </th>
                        <th>
                            Type
                        </th>    
                    </tr>
                </thead>
                <tbody>
                    {% for len in range(Qnum2) :%}
                        <tr>
                            <td scope="row">
                             
                                {{len+1}}
                           
                            </td>
        
                            <td>
                                {{optlist[len][1]}}
                            </td>

                           {% if  optlist[len][2] == "MCQ" : %}
                            <td>
                                <div class="row">
                                    {% for answer in optlist[len][3:] %}
                                        <div class="col">
                                            {{answer}}
                                        </div>
                                    {% endfor %}
                              
                                </div>
                     
                            </td>
<td>(MCQ)</td>
                {%endif%}
                           {% if optlist[len][2] == "TEXT" : %}
<td>Student response</td>
                              <td> (TEXT-BASED ANSWER) </td>   
                {%endif%}  


                         
                    {%endfor%}
                </tbody>
            </table>
         {% else: %}
            <div> There is no optional questions available</div>
         {%endif%}
            <p><h3>Next step</h3></p>
            <a href="{{url_for("course_adding",course_name = course_name,course_year = course_year)}}" class="alert-link"> <h4> View survey for {{course_name}} {{course_year}} </h4></a>
            <a href="{{url_for("index")}}" class="alert-link"><h4> Go back to home page </h4></a>
            <a href="{{url_for("course_adding")}}" class="alert-link"><h4>adding question for another course</h4></a>
        </From>
    {%endif%}
{%endblock%}
