{%extends "base.html"%}
{%block title %} {{course_name}} {{course_year}} Survey{%endblock%}
{%block header%}
    <h1>{{course_name}} {{course_year}} Survey

        {%- if current_user.is_admin() -%}
            <span class="badge badge-success">Preview</span>
        {% elif current_user.is_staff()%}
            <span class="badge badge-success">Review</span>
        {%- endif -%}

    </h1>
{%endblock%}
{%block body%}
    {% if not list_type %}
        {% set list_type = ["num","num"]%}
    {% endif %}
    <form action="{{url_for("view_survey",survey_id= survey_id)}}" method="POST">
        {% include "comp/q_list.html"%}
        {% if (current_user.is_admin() or current_user.is_staff() ) and survey_status < 2 %}
            <button type="submit" class="btn btn-primary" name="submit_type"
                value="save">Save Changes</button>
            <button type="submit" class="btn btn-success" name="submit_type"
                value="post">Post Survey</button>
        {%endif%}
    </form>

    <!--  -->

{%endblock%}
