<!doctype html>
<html>
    <head>
    <title>Edit: {{course_name}} Survey</title>
    </head>
    <body>
        <h1>Edit: {{course_name}} Survey</h1>
        <h2> please click your desired question number for your survey </h2>

        {%if quest_list != []%}

            {% if error %}
                <p>{{error}}</p>
            {% endif %}
            <Form method="POST">
                {% for quest in quest_list %}
                    <input type="checkbox" name="selected_q" value="{{quest[0]}}" >
                        {{quest[1]}} <br>
                        {% for answer in quest[2:] %}
                            {{answer}}
                        {% endfor %}
                        <br>
                {%endfor%}
                <input type="submit" value="Submit">
            </From>
        {%else%}
            <p>please add a question in the system</p>
        {%endif%}

    </body>
</html>
