{%extends "base.html"%}
{%block title %} Edit: {{course_name}} {{course_year}} Survey{%endblock%}
{%block header%}
    <h1>Edit:{{course_name}} Survey</h1>
    <h2> Please click your desired question for your survey </h2>
{%endblock%}
{%block body%}

    {%if genQ_list :%}
        <Form method="POST">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>General Question</th>
                        <th>
                            Answers
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in genQ_list :%}
                        <tr>
                            <td scope="row">
                                <input type="checkbox" name="selected_genQ" value="{{quest[0]}}" >
                            </td>
                            <td>
                                {{quest[1]}}
                            </td>

                           {% if quest[2] == "MCQ" : %}
                            <td>
                                <div class="row">
                             
                                    {% for answer in quest[3:] :%}
                                        <div class="col">
                                            {{answer}}
                                        </div>
                                    {% endfor %}
                                    <div>(MCQ)</div>
                                </div>
                            </td>
                           {%endif%}
                           {% if quest[2] == "TEXT" : %}

                              <td> (TEXT-BASED ANSWER) </td>   
                           {%endif%}



                    {%endfor%}
                </tbody>
            

      {%if optQ_list :%}
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>Optional Question</th>
                        <th>
                            Answers
                        </th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for quest in optQ_list : %}
                        <tr>
                            <td scope="row">
                                <input type="checkbox" name="selected_optQ" value="{{quest[0]}}" >
                            </td>
                            <td>
                                {{quest[1]}}
                            </td>

                           {% if quest[2] == "MCQ" : %}
                            <td>
                                <div class="row">
                                    {% for answer in quest[3:] %}
                                        <div class="col">
                                            {{answer}}
                                        </div>
                                    {% endfor %}
                                     <div>(MCQ)</div>
                                </div>
                          
                            </td>
                {%endif%}
                           {% if quest[2] == "TEXT" : %}

                              <td> (TEXT-BASED ANSWER) </td>   
                {%endif%}  


                         
                    {%endfor%}
                </tbody>
            </table>
         {% else: %}
            <div> There is no optional questions available</div>
         {%endif%}



            <button type="submit" class="btn btn-outline-success" name="button">These questions are good to go!</button>
        </From>
    {%else :%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Please add some questions in system. <a href="{{url_for("add_question")}}" class="alert-link">Click here to add one.</a>
        </div>
    {%endif%}
{%endblock%}
