{%extends "base.html"%}
{%block title %} Edit: {{course_name}} Survey{%endblock%}
{%block header%}
    <h1>Edit:{{course_name}} Survey</h1>
    <h2> Please click your desired question for your survey </h2>
{%endblock%}
{%block body%}

    {%if quest_list %}
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{error}}
            </div>
        {% endif %}
        <Form method="POST">
            <table class="table table-hover">
                <thead class="thead-default">
                    <tr>
                        <th scope="row" style="width:30px">#</th>
                        <th>Question</th>
                        <th>
                            Answers
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in quest_list %}
                        <tr>
                            <td scope="row">
                                <input type="checkbox" name="selected_q" value="{{quest[0]}}" >
                            </td>
                            <td>
                                {{quest[1]}}
                            </td>
                            <td>
                                <div class="row">
                                    {% for answer in quest[2:] %}
                                        <div class="col">
                                            {{answer}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>

                    {%endfor%}
                </tbody>
            </table>
            <button type="submit" class="btn btn-outline-success" name="button">These questions are good to go!</button>
        </From>
    {%else%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Please add some questions in system. <a href="{{url_for("add_question")}}" class="alert-link">Click here to add one.</a>
        </div>
    {%endif%}
{%endblock%}
